n8n-workflow.json
{
  "name": "Dental Tourism Germany - Lead Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ddc7c9c3-d925-40c4-9a1b-6d89c8ebb4a6",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ddc7c9c3-d925-40c4-9a1b-6d89c8ebb4a6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "name",      "value": "={{ $json.body.name }}",        "type": "string" },
            { "id": "f2", "name": "email",     "value": "={{ $json.body.email }}",       "type": "string" },
            { "id": "f3", "name": "phone",     "value": "={{ $json.body.telefon }}",     "type": "string" },
            { "id": "f4", "name": "age",       "value": "={{ $json.body.alter }}",       "type": "string" },
            { "id": "f5", "name": "problem",   "value": "={{ $json.body.zahnproblem }}", "type": "string" },
            { "id": "f6", "name": "source",    "value": "={{ $json.body.source }}",      "type": "string" },
            { "id": "f7", "name": "timestamp", "value": "={{ $json.body.timestamp }}",   "type": "string" },
            { "id": "f8", "name": "date",      "value": "={{ $now.format('dd.MM.yyyy HH:mm') }}", "type": "string" },
            { "id": "f9", "name": "status",    "value": "Neu",                           "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-set",
      "name": "Parse Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Germany Campaign", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name":    "={{ $json.name }}",
            "Email":   "={{ $json.email }}",
            "Phone":   "={{ $json.phone }}",
            "Age":     "={{ $json.age }}",
            "Problem": "={{ $json.problem }}",
            "Source":  "={{ $json.source }}",
            "Date":    "={{ $json.date }}",
            "Status":  "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Name",    "displayName": "Name",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Email",   "displayName": "Email",   "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Phone",   "displayName": "Phone",   "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Age",     "displayName": "Age",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Problem", "displayName": "Problem", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Source",  "displayName": "Source",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Date",    "displayName": "Date",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Status",  "displayName": "Status",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Google Sheets - Append Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "GOOGLE_CRED_ID", "name": "Google Sheets account" }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Parse Lead Data",    "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Lead Data": {
      "main": [[{ "node": "Google Sheets - Append Lead", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "dental-germany" }],
  "triggerCount": 0,
  "versionId": "2"
}
